<ion-view view-title="Resultados">
  	<ion-content>
    	<ion-list>
			<ion-item 
				class="item item-avatar item-icon-right" 
				ng-repeat="expense in expenses" 
				type="item-text-wrap">

				<img 
					id="{{expense.category_id}}"
					ng-src=".{{expense.url}}">

				<h2>{{expense.name}}</h2>
				<h2>{{convert(expense.infodate)}}</h2>
				<h3>{{currency(expense.amount)}}</h3>
        		<!--<i class="icon ion-chevron-right icon-accessory"></i>-->
      		</ion-item>
    	</ion-list>
  	</ion-content>
</ion-view>