<ion-view view-title="Información">
  	<ion-content>
    	<ion-list>

        <ion-item class="item item-avatar" type="item-text-wrap">
          <img class="avatar" src="./img/default-avatar.png">
          <h2>developer</h2>
          <pre class="information">information</pre>
        </ion-item>      
    
	 		  <ion-item class="item item-avatar" type="item-text-wrap">
          <img class="avatar" src="./img/default-avatar.png">
          <h2>developer</h2>
          <pre class="information">information</pre>
        </ion-item>      
  
          <ion-item class="item item-avatar" type="item-text-wrap">
            <img class="avatar" src="./img/default-avatar.png">
            <h2>developer</h2>
            <pre class="information">information</pre>
          </ion-item>      
        
          <ion-item class="item item-avatar" type="item-text-wrap">
            <img class="avatar" src="./img/default-avatar.png">
            <h2>developer</h2>
            <pre class="information">information</pre>
          </ion-item>
  
          <ion-item class="item item-avatar" type="item-text-wrap">
            <img class="avatar" src="./img/default-avatar.png">
            <h2>developer</h2>
            <pre class="information">information</pre>
       		</ion-item>

    	</ion-list>
  	</ion-content>
</ion-view>
